# DB:
DB_HOST=localhost
DB_PORT=1433
DB_NAME=resolve_mais
DB_USER=sa
DB_PASS=[SENHA]

DB_SYNC_ON_BOOT=true

# JWT:
JWT_EXPIRATION=1d
JWT_SECRET=secret_key_here
ACCESS_TOKEN_SECRET=access_token_secret
JWT_ALGORITHM=HS256

# OPENAI:
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=model_name_here

# SERVER:
PORT=3001

# MAIL
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
MAIL_FROM=

# APP URL
APP_URL=http://localhost:3000